body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*  */
.wrapper {
    max-width: 70%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, .5);
}

/* Permits text overlay image, mix relative within container and absolute within the title*/
.container {
    position: relative;

}

header img {
    width: 100%;
}

h1 {
    color: #fff;
    font-size: 3.5rem;
    /* shows the title over the image*/
    position: absolute;
    /* Its a 100% within the 70% of the wrappper */ 
    width: 100%;
    top: 55%;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

nav a {
    list-style-type: none;
    text-decoration: none;
}

section {
    margin: 10px;
    margin-bottom: 30px;
}

/* This class needs to be in the parent section of a float image */
.clearfix::after {
    content: "";
    display: block;
    /* Clear weather right or left float image */
    clear: both
}

section img {
    width: 250px;
    float: left; 
    margin-right: 15px;
    margin-bottom: 15px;
}

p {
    line-height: 1.40rem;
    padding-right: 10px;
    font-size: 1rem;
}

section ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: .95rem;
    
}

.border {
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
}

label {
    font-size: 1rem;
    /* display inline-block will allow to add a margin-bottom */
    display: inline-block; 
    margin-bottom: 7px;
    font-weight: 600;
} 

/* Needs the type to not change other inputs */
input[type='text'] {
    /* This property will fix the input width, no matter the margin or padding values */
    box-sizing: border-box;
    width: 100%;
    height: 25px;
    border: 1px solid rgb(218, 218, 218);
    margin-bottom: 20px;
    padding: .4rem;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
    border: 1px solid rgb(165, 165, 165);
    resize: none;
}

.radio {
    margin-bottom: 10px;
}

button {
    text-transform: uppercase;
    padding: .7rem;
    font-size: .7rem;
    background-color: rgb(255, 255, 255, 0);
    border: 1px solid #000;
}
