/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BASIC STYLES TO START */ 

* {
    box-sizing: border-box;
}

/* The font size is definded in the body, and it will be changed only using rem to have a better control in the future */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

/* HEADER SECTION */

header {
    background-color: #222;
}

.logo-container img {
width: 70px;
}

/* Add the padding here to not affect the child elements of the .menu class */
header>div {
    padding-top: 15px;
}

/* Padding needs to be in this tag because if its added to .menu will apply also to the elements inside */ 
nav {
    padding-left: 15px;
    padding-right: 15px;
}

nav .logo-container {
    background-color: #c78c06;
}

/* This class will affect all the elements, thats why the padding is not here, it will give space between all the anchor tags */
.menu {
    background-color: #222;
    padding-left: 0px;
}

nav ul {
    margin: 0px 0px;
} 

nav li {
    list-style-type: none;
    text-align: center;
    padding: 20px 0px;
}

nav a {
    text-decoration: none;
    color: #c78c06;
}

/* Instead of doing this, try to change it in the active and hover properties of the buttons
.menu li:nth-child(1) {
    background-color: #c78c06;
}

/*.menu a:nth-child(1) {
    color: #222;
}*/

div .search-bar {
    width: 100%;
}

nav input {
    width: 90%;
    height: 40px;
    margin: 0px 0px;
}

nav button {
    width:10%;
    height: 40px;
    margin: 0px 0px;
    background-color: #222;
    border: 1px solid #c78c06;
}

.fa-magnifying-glass {
    color: #c78c06;
    font-size: 1.2rem;
}

/* Only the direct div child of the .main-banner will be affected*/
.main-banner>div {
    background-color: rgba(34,34,34,0.8);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    padding-bottom: 50px;
}

h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
}

/* In this case it can not be direct child, because p is inside another div. */ 
.main-banner p {
    color: #fff;
    font-size: .9rem;
    line-height: 1.5rem;
    padding-top: 20px;
}

/* this properties will affect all the buttons of the webpage. The inline-block will allow add margin to the anchor tag*/
.btn {
    padding: 30px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

.secondary {
    background-color: #c78c06;
    color: #222;
}

.fa-caret-right {
    padding-left: 10px;
    font-size: 1.5rem;
}

/* ask how to define the maximum width of 1200px and still being responsive because it doesn't work */
.responsive-image {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

/* ABOUT US SECTION */

.color-section {
    background-color: #ffe6ac;
}

.wrapper {
    margin: 0 auto;
    padding: 15px;
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* This basic style is gonna be applyied for all the paragraphs of the website */
p {
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.3rem;
    padding-bottom: 1rem;
}

/* OUR SERVICES SECTION */

/* This margin-bottom adds the space between each service section */
.service {
    background-color: #ffe6ac;
    margin-bottom: 15px;
}

img {
    width: 100%;
}

/* Adding padding like this will apply to all the services sections */
div.service div {
    padding: 15px;
}

h3 {
    font-weight: 800;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.dark {
    background-color: #222;
    color: #fff;
}

/* OUR VISION SECTION */ 

.full-image {
    width: 100%;
    color: white;
}

/* Correct this one because it applyies the padding to the image too
div {
    padding: 15px;
}*/

.dark-secondary {
    background-color: rgba(34,34,34,0.8);
    color: #fff;
    border: 1px solid #c78c06;
}

/* OUR TEAM SECTION */

.color-section {
    padding: 15px;
}

.job {
    font-weight: 800;
    font-size: .8rem;
    padding-bottom: 0px;
}

hr {
    border: 1px solid #c78c06;
    margin-top: 2px;
    margin-bottom: 15px;
}