/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BASIC STYLES TO START */ 

* {
    box-sizing: border-box;
}

/* The font size is definded in the body, and it will be changed only using rem to have a better control in the future. The main container is the body, thats why the max-width of 1200px need to be here. */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    max-width: 1200px;
}

/* HEADER SECTION */

header {
    background-color: #222;
}

.logo-container img {
width: 70px;
}

/* Add the padding here to not affect the child elements of the .menu class */
header>div {
    padding-top: 15px;
}

/* This class will affect all the elements, thats why the padding is not here, it will give space between all the anchor tags */
.menu {
    background-color: #222;
    padding-left: 0px;
}

/* Display wrap allows to ghange the percentage of the flex-basis of all the elements inside the nav to distibute them correctly */
/* Padding needs to be in this tag because if its added to .menu will apply also to the elements inside */ 
nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}

nav .logo-container {
    flex-basis: 100%;
    background-color: #c78c06;
}

nav ul {
    flex-basis: 100%;
}

/* The inline block, the flex-basis and the width here shows long buttons in the nav */
nav a {
    display: inline-block;
    flex-basis: 100%;
    width: 100%;
    text-decoration: none;
    font-size: 1rem;
    color: #c78c06;
    background-color: #222;
    padding-bottom: 25px;
    padding-top: 25px;
}

nav .search-bar {
    flex-basis: calc(90% - 0px);
    height: 40px;
}

nav .search-button {
    flex-basis: calc(10% - 0px);
    background-color: #222;
    border: 1px solid #c78c06;
}

.fa-magnifying-glass {
    color: #c78c06;
    font-size: 1.2rem;
}

nav li {
    list-style-type: none;
    text-align: center;
}

/* Change the colour when the mouse is hover the button*/
nav a:hover {
    background-color: #c78c06;
    color: #222;
}

/*Change the colour when the user click on the button */
nav a:active {
    background-color: #c78c06;
    color: #222;
}

nav a:active::after {
    background-color: #c78c06;
}

/* Needs the type to not change other inputs */
input[type='text'] {
    padding: 10px;
    font-size: 1.1rem;
}

/* Only the direct div child of the .main-banner will be affected*/
/*.main-banner>div {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    padding-bottom: 50px;
}*/

h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
}

/* In this case it can not be direct child, because p is inside another div. */ 
.main-banner p {
    color: #fff;
    padding-top: 20px;
    font-weight: 500;
}

/* this properties will affect all the buttons of the webpage. The inline-block will allow add margin to the anchor tag*/
.btn {
    display: inline-block;
    padding: 30px;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;  
}

.secondary {
    background-color: #c78c06;
    color: #222;
}

.fa-caret-right {
    padding-left: 10px;
    font-size: 1.5rem;
}

.main-banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

/* The maximum width of 1200px has been defined in the body tag */
.responsive-image {
    width: 100%;
}

/* Having the same grid-row value overlaps the content */
img {
    max-width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 1;
}

/* Margin auto property center the height. The rgb values come from #222 ASK ABOUT THIS CAUSE IN MOBILE IT DOESNT LOOK GOOD, it needs to be center and responsive*/
.main-banner .dark-background {
    grid-column: 1/2;
    grid-row: 1;
    height: 80%;
    margin: auto;
    background-color: rgba(34, 34, 34, 0.5);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/*
.dark-background div {
    grid-column: 1/2;
    grid-row: 1;
    width: 100%;
    height: 80%;
    margin: auto;
    background-color: #fff ;
    padding: 10px;
}*/

/* ABOUT US SECTION */

.color-section {
    background-color: #ffe6ac;
    margin-bottom: 15px;
}

.wrapper {
    margin: 0 auto;
    padding: 15px;
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* This basic style is gonna be applyied for all the paragraphs of the website, apply other properties more specifically */
p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

/* OUR SERVICES SECTION */

/* This margin-bottom adds the space between each service section */
.service {
    background-color: #ffe6ac;
    margin-bottom: 15px;
}

img {
    width: 100%;
}

/* Adding padding like this will apply to all the services sections */
div.service div {
    padding: 15px;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.dark {
    background-color: #222;
    color: #fff;
}

/* OUR VISION SECTION */ 

.vision {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

/* Width and max-width creates a responsive image */
.vision .full-image {  
    width: 100%;
}

.vision img {
    max-width: 100%;
    grid-column: 1/2;
    grid-row: 1;
}

/* Margin auto centers the content vertically in the middle*/ 
.vision div {
    grid-column: 1/2;
    grid-row: 1;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.vision h3 {
    color: #fff;
}

.vision p {
    color: #fff;
    font-weight: 500;
}

/* Correct this one because it applyies the padding to the image too
div {
    padding: 15px;
}*/

/* The rgba property will give the blueish colour to the button*/
.dark-secondary {
    background-color: rgba(34,34,34,0.8);
    color: #fff;
    border: 1px solid #c78c06;
}

/* OUR TEAM SECTION */

/* Is neccesary to adjust padding and margin here to not affect other elements using .color-section */ 
.team-member {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    margin-bottom: 20px;
}

.subtitle {
    font-weight: 800;
    font-size: .8rem;
    padding-bottom: 0px;
}

hr {
    border: 1px solid #c78c06;
    margin-top: 2px;
    margin-bottom: 15px;
}

/* This line eliminates a white space between the image of the team member and the yellow block that was defined at the beginning in the reset code*/
.team div {
    line-height: 0;
}

/* CONTACT US SECTION */

label {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 5px;
}

/* Its neccessary to aply again the font properties because it shows the arial font*/
.contact input[type='text'] { 
    width: 100%;
    height: 30px;
    border: 1px solid #222;
    margin-bottom: 10px;
    font-size: .9rem;
    font-family: 'Open Sans', sans-serif;
    padding: .4rem;
    border-radius: 3px;
}

/* Fix style and size, preventing the user change the size of it. Its neccessary to aply again the font properties because it shows a serif font*/
textarea {
    width: 100%;
    height: 120px;
    padding: .4rem;
    border: 1px solid #222;
    resize: none; 
    font-size: .9rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
}

.contact button {
    background-color: #222;
    color: #c78c06;
    font-size: 1.2rem;
    padding: 5px;
    border: 1px solid #222;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, td, th {
    border: 1px solid #222;
    padding: 15px;
}

/* border-collapse changes all the bordes of the table into a single one, saw this in w3shcools https://www.w3schools.com/css/css_table.asp*/
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

thead {
    background-color: #ffe6ac;
}

/* This property will help to make responsive the map */
map {
    width: 100%;
}

/* FOOTER SECTION */

footer {
    background-color: #222;
    color: #c78c06;
}

/* The weight it need to be defined like this because it has more level of specificity, if its included just in footer it won't change*/
footer p {
    font-weight: 400;
    font-size: .8rem;
}

footer a {
    color: #c78c06;
}


/* STARTS DESKTOP LAYOUT*/
@media screen and (min-width: 760px) {

    /* By changing this width all the page will be affected because it is a repeated class in the html structure */
    .wrapper {
        width: 80%;
    }

    /* Its important to apply this font properties just once to make it easy to control */
    p {
        font-size: .9rem;
        line-height: 1.2rem;
    }

    /* HEADER SECTION*/ 
    nav {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: none;
        justify-content: space-evenly;
    }

    .dark-background {
        width: 80%;
    }

    /* ABOUT US SECTION*/
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .about-image {
        grid-column: 1/2;
    }

    .about-text {
        grid-column: 2/3;
        margin-left: 10px;
    }

    /* OUR SERVICES SECTION*/

    /* Its necessary to use flex instead of grid because the way is differently divided in the mockup the first row is 50%, 50% and second row is 33.33%, 33.33%, 33.33% */
    .services {
        display: flex;
        flex-wrap: wrap;
    }

    .digital, .marketing {
        flex-basis: 50%;
    }

    .video, .web, .print {
        flex-basis: calc(33.33%);
    }
}